header {
    text-align: center;
    background-image: url(/pictures/EwnrUt.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;

}

h1{
    color:bisque;
    font-size:x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul{
    padding: 10px;
    background: black;
}
a {
    color:  green;
    font-family:fantasy;
    font-size: x-large;
}
li{
    display: inline;
    padding: 0px 70px 0px 70px;
}

body{
    text-align: center;
    /* background-image: url(/pictures/eyes-218185.jpg); */
    /* background-image: url(/pictures/eyes-218185.jpg); */
    background-color:black;
    background-size: cover;
    color:white;
    font-family: helvetica;
}
h2{
    font-size:x-large;
    color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{  font-size:x-large;
    color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4{
    font-size:x-large;
    /* background-color:rgb(0, 0, 0); */
    color:bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{  
    background-color:yellowgreen;
    color: black;
    border: 0;
    padding: 10px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input[type="submit"]{
    background-color: rgb(245, 127, 127);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

/* #origin{
    color: black;
} */

